<app-accordion>
  @for (item of [1, 2, 3, 4, 5]; track $index) {
    <app-accordion-item>
      <div app-accordion-item-header>Item {{ item }}</div>
      <div app-accordion-item-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim
        saepe sunt odit, voluptatem nulla amet reiciendis praesentium cum, ex
        molestias optio soluta eius officia necessitatibus ipsum modi in illo
        laboriosam, id ullam. Obcaecati earum saepe architecto commodi hic
        mollitia repellat aliquid quae quidem. Explicabo atque itaque id porro
        non.
      </div>
    </app-accordion-item>
  }
</app-accordion>
